/** css/custom.css **/

/* This line is theme specific - it includes the base theme CSS */
/* @import '../alabaster.css';  for Alabaster */
/*@import 'theme.css';       /* for the Read the Docs theme */
@import 'basic.css';

:root {
  --sd-color-primary: #007bff;
  --sd-color-secondary: #6c757d;
  --sd-color-success: #28a745;
  --sd-color-info: #17a2b8;
  --sd-color-warning: #f0b37e;
  --sd-color-danger: #dc3545;
  --sd-color-light: #f8f9fa;
  --sd-color-muted: #6c757d;
  --sd-color-dark: #212529;
  --sd-color-primary-highlight: #0069d9;
  --sd-color-secondary-highlight: #5c636a;
  --sd-color-success-highlight: #228e3b;
  --sd-color-info-highlight: #148a9c;
  --sd-color-warning-highlight: #cc986b;
  --sd-color-danger-highlight: #bb2d3b;
  --sd-color-light-highlight: #d3d4d5;
  --sd-color-muted-highlight: #5c636a;
  --sd-color-dark-highlight: #1c1f23;
  --sd-color-primary-text: #fff;
  --sd-color-secondary-text: #fff;
  --sd-color-success-text: #fff;
  --sd-color-info-text: #fff;
  --sd-color-warning-text: #212529;
  --sd-color-danger-text: #fff;
  --sd-color-light-text: #212529;
  --sd-color-muted-text: #fff;
  --sd-color-dark-text: #fff;
  --sd-color-shadow: rgba(0, 0, 0, 0.15);
  --sd-color-card-border: rgba(0, 0, 0, 0.125);
  --sd-color-card-border-hover: #bb2d3b;
  --sd-color-card-background: transparent;
  --sd-color-card-text: inherit;
  --sd-color-card-header: transparent;
  --sd-color-card-footer: transparent;
  --sd-color-tabs-label-active: #bb2d3b;
  --sd-color-tabs-label-inactive: rgba(178, 206, 245, 0.62);
  --sd-color-tabs-overline: rgb(207, 236, 238);
  --sd-color-tabs-underline: rgb(207, 236, 238);
  --sd-fontsize-tabs-label: 1rem
}


/* div.content {
    text-align: justify;
    text-justify: auto;
} */

a.fa-icon:link {
    text-decoration:none;
}

/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}

.tooltip .tooltiptext {
  width: 120px;
  bottom: 100%;
  left: 50%; 
  margin-left: -60px; /* Use half of the width (120/2 = 60), to center the tooltip */
}

div.profile-pic {
  margin-top: 1em;
}

div.profile-pic img {
  border-radius: 500px;
  width: 80%;
  max-width: 190px;
  margin: 0 auto;
  display: block;
}

a.btn:link {
  text-decoration: none;
  margin: 0 auto;
}

a.btn:visited {
  text-decoration: none; 
}

a.btn:hover { 
  text-decoration: none; 
}

a.btn:active { 
  text-decoration: none; 
}

a.badge:link {
  text-decoration: none;
  max-width: 200px;
  margin: 0 auto;
}

a.badge:visited {
  text-decoration: none; 
}

a.badge:hover { 
  text-decoration: none; 
}

a.badge:active { 
  text-decoration: none; 
}